<%- include('./partials/header') %>
<main class="container my-5 py-5 text-center">
  <div class="alert alert-success">
    <p>Ola, <%= nome %></p>
    <p>Recebemos sua mensagem: <%= mensagem %> </p>
    <p>Vamos responder no email: <%= email %> </p>
  </div>
</main>

<%- include('partials/footer'); %>
